################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/CaNNon/bin/Debug
/CaNNon/obj
/Core/bin/Debug
/Core/obj
/packages
